ExampleEnclaveOTPServerSecureMessaging/CMakeCache.txt
ExampleEnclaveOTPServerSecureMessaging/CMakeFiles/
ExampleEnclaveOTPServerSecureMessaging/Makefile
ExampleEnclaveOTPServerSecureMessaging/cmake_install.cmake
ExampleEnclaveOTPServerSecureMessaging/compile_commands.json
ExampleEnclaveOTPServerSecureMessaging/src/CMakeFiles/
ExampleEnclaveOTPServerSecureMessaging/src/Makefile
ExampleEnclaveOTPServerSecureMessaging/src/app/CMakeFiles/
ExampleEnclaveOTPServerSecureMessaging/src/app/Makefile
ExampleEnclaveOTPServerSecureMessaging/src/app/cmake_install.cmake
ExampleEnclaveOTPServerSecureMessaging/src/app/enclave2_u.c
ExampleEnclaveOTPServerSecureMessaging/src/app/enclave2_u.h
ExampleEnclaveOTPServerSecureMessaging/src/app/enclave_u.c
ExampleEnclaveOTPServerSecureMessaging/src/app/enclave_u.h
ExampleEnclaveOTPServerSecureMessaging/src/cmake_install.cmake
ExampleEnclaveOTPServerSecureMessaging/src/enclave/CMakeFiles/
ExampleEnclaveOTPServerSecureMessaging/src/enclave/Makefile
ExampleEnclaveOTPServerSecureMessaging/src/enclave/cmake_install.cmake
ExampleEnclaveOTPServerSecureMessaging/src/enclave/enclave_t.c
ExampleEnclaveOTPServerSecureMessaging/src/enclave/enclave_t.h
ExampleEnclaveOTPServerSecureMessaging/src/enclave2/CMakeFiles/
ExampleEnclaveOTPServerSecureMessaging/src/enclave2/Makefile
ExampleEnclaveOTPServerSecureMessaging/src/enclave2/cmake_install.cmake
ExampleEnclaveOTPServerSecureMessaging/src/enclave2/enclave2_t.c
ExampleEnclaveOTPServerSecureMessaging/src/enclave2/enclave2_t.h

